.contact {
  background-color: $color__primary--lightest;
}

.contact__inner {
  max-width: 676px;
  padding: 20px;
}

.contact__header {
  position: relative;
  text-align: center;

    &::after {
    @include underline;
  }
}

.contact__title {
  margin: auto;
  max-width: 300px;
}

.contact__subtitle {
  font-weight: 300;
  padding-bottom: 20px;
}

.contact__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact__list {
  @include reset;
  margin: auto;
}

.contact__item {
  display: block;
  position: relative;
  max-width: 250px;
  padding: 10px 0px 10px 40px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: $gray--darkest;

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0px;

    width: 20px;
    height: 20px;

    background-color: transparent;
    background-image: url(../img/locating.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--address::before {
    top: 20px;
    background-image: url(../img/locating.png);
  }

  &--tel::before {
    background-image: url(../img/phone.png);
  }

  &--mail::before {
    background-image: url(../img/mail.png);
  }
}

.contact__link {
  position: relative;
  text-decoration: none;
  color: $gray--darkest;

  &::after {
    @include underline;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -5px;
  }

  &:hover {
    color: $color__primary--darkest;
  }

  &:active {
    color: rgba($color__primary--darkest, 0.5);
  }

  &:active::after {
    background-color: rgba($color__primary, 0.5);
  }
}

.contact__image {
  width: 250px;
  margin: auto;
}

@media #{$tablet-widths} {

  .contact__inner {
    @include container (668px);
    padding: 20px;
  }

  .contact__title {
    font-size: 52px;
    max-width: 600px;
  }

  .contact__subtitle {
    font-size: 24px;
    max-width: 500px;
    margin: auto;
  }

  .contact__text {
    font-size: 17px;
  }
}

@media #{$desktop-widths} {

  .contact__inner {
  @include container (1050px);
  }
}
